apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: sample-DeploymentConfig
spec:
  replicas: 2
  selector:
    app: sample
  template:
    metadata:
      labels:
        app: sample
    spec:
      containers:
      -  name: nginx
         image: nginx:latest
             