apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
spec:
  replicas: 2
  selector:
    matchLabels:
       app: sample
    template:
      metadata:
        labels:
          app: sample
      spec:
        containers:
        - name: sample
          image: nginx:latest
          envFrom:
          - configMapRef:
              name: app-configMapRef
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
          readinessProbe:
            httpGet:
              path:  /
              port: 80
            initialDelaySeconds: 5