apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
    scrape_configs:
      - job_name: 'kubernetes'
        static_configs:
          - targets: ['node-service:3000','python-service:5000','go-service:8080']
