name: Simple CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install pytest
      run: pip install pytest

    - name: Run tests
      run: pytest

    - name: Build Step
      run: echo "Build completed successfully!"

    - name: Archive Build Output
      uses: actions/upload-artifact@v3
      with:
        name: build-logs
        path: .
